# Allow Prisma and esbuild build scripts.
public-hoist-pattern[]=*@prisma*
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*esbuild*

# Automatically approve native build scripts.
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=esbuild
