# Autoriser les builds de prisma et esbuild
public-hoist-pattern[]=*@prisma*
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*esbuild*

# Approuver automatiquement les builds natifs
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=esbuild
